@use '../ver/varaibl' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $primiry-color;
    // padding: 0 100px;

}
div{
    border-radius: 20px;
    text-align: center;
    // padding: 0 5px;
}