@media (max-width:860px) {
    body {
        padding: 10px 5px;
    }
}

@media (max-width:780px) {
    .information {
        height: auto;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 10px;
        grid-row-gap: 10px;


        .temp {
            height: 65vh;
            grid-area: 1 / 1 / 2 / 2;
            h1 {
                font-size: 1.9rem;

            }

            img {
                width: 70px;
                height: 70px;
            }
        }

        .hourly-temp {

            // height: 90vh;
            div {
                padding: 20px;
                flex-direction: row;
                margin-bottom: 0px;
            }

            display: flex;
            flex-direction: column;

            grid-area: 1 / 2 / 2 / 3;
        }

        .files-like {
            grid-area: 2 / 1 / 3 / 3;
        }

        .wekkly {
            grid-area: 3 / 1 / 4 / 3;
        }




    }
}

@media (max-width:540px) {
    .information {
        display: block;
        gap: 20px;
        height: auto;

        .temp {
            margin-top: 10px;
            margin-bottom: 10px;
            height: 250px;
            padding: 10px;

            h1 {
                font-size: 1.4rem;

            }

            img {
                width: 60px;
                height: 60px;
            }

            .visiblenot {
                display: none;
                height: 40px;
            }
        }
    }

    .hourly-temp {
        margin: 10px 0;
        height: 290px;

        div {
            margin: 6px 0;
        }
    }

    .files-like {
        margin: 10px 0;
    }

    .wekkly {
        display: block;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;


        .firstday {
            grid-area: 1 / 1 / 2 / 2;
        }

        .secendday {
            grid-area: 1 / 2 / 2 / 3;
        }

        .thirdday {
            grid-area: 1 / 3 / 2 / 4;
        }

        .dayfive {
            grid-area: 2 / 1 / 3 / 2;
        }

        .daysex {
            grid-area: 2 / 2 / 3 / 3;
        }

        .daysiven {
            grid-area: 2 / 3 / 3 / 4;
        }

        .dayeight {
            grid-area: 3 / 2 / 4 / 3;
        }
    }

}